.about{
          background-color:white;
            margin-top:20px;
            margin-bottom: 20px;
            min-height:75vh;
           
         }
   
        .about_sec1 :hover{
        
            background-color: #000;
            opacity: 0.7;
            transition: all .3s ease-in-out;
        }

        .about_sec2{
            padding:45px 45px 0px 45px;
            color: black;
        }
        .about_sec1{
        background-image: url(img/a1.png);
        background-repeat: no-repeat;
        background-size: cover; height:400px;
      
        }

        .about_sec3{
        background-image: url(img/a2.png);
        background-repeat: no-repeat;
        background-size: cover; height:400px;
   
        }

        .about_sec4{
        background-image: url(img/a3.png);
        background-repeat: no-repeat;
        background-size: cover; height:400px;
      
        }

    @media only screen and (max-width:1500px){
        .about_sec1,.about_sec3,.about_sec4{
        width:100%;
        height:250px;
     
    }
    .about_sec3{
        margin-bottom:10px;
    }
    }

    @media only screen and (max-width: 566px)  {   
    .about_sec2{
        padding:25px 25px;
    }
    
      }

